*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(184, 184, 181);
    float: left
}

nav {
    width: 100%;
    padding: 1.9rem 1.2rem;
    text-align: center;
    background: rgba(129, 233, 97, 0.945); /* Semi-transparent background */
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.048);
    backdrop-filter: blur(5px);
    border-radius:3% ;
    align-self: center;
    background-size: cover;
    display: flex;
    background-attachment: fixed; 
    transition: 0.5s;
}

.container {
    max-width: 100%;
    margin: 0 auto; 
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

        width: 100%;
        height: 7rem;
        box-shadow: 0 0 1rem 0 rgba(90, 80, 80, 0.2); 
        border-radius: 5px;
        position: relative;
        z-index: 1;
        background: inherit;
        overflow: hidden;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(238, 232, 232, 0.5);
    filter: blur(10px);
  }

.container:hover{
    scale: 1.01;
    transition: 1s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color:green;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    font-size: 1em;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: whitw;
    border-radius: 4px;
}

/* @media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
} */

.name{
    font-size: 170px;
    font-weight: 800;
    background: url(hd\ img.jpg) no-repeat center center;
    background-size: contain;
    background-clip: text;
    color: transparent;
    float: left;
}
.tagline{
    font-family:cursive;
    font-size: 30px;
    
}
.mainlogo{
    height: 190px;
    width: 180px;
    background:url(logo.jpg);
    display: flex;
    background-size: cover;
    border-radius: 110px;
    margin-left: -35px;
}
.cutimage{
    height: 20%;
    width: 30%;
    background-color: black;
}
.card {
    width: 30%;
    height:70%;
    margin-left:15%;
    text-align: center;
    background: rgba(224, 221, 221, 0.5); /* Semi-transparent background */
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    border-radius:3% ;
    align-self: center;
    transition: 0.5s;
}
.card:hover{
    scale: 1.02;
    transition: 1s;
}
.input-field {
    background: none;
    outline: none;
    width: 98%;
    height:30px;
    color: #020202;
    border-radius: 20px;
    padding-left: 4%;
}
.field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    padding: .5em 1em;
    border-radius:10px;
}
.add-input-field {
    background: none;
    outline: none;
    width: 98%;
    height:10vh;
    color: #020202;
    border-radius: 20px;
    padding-left: 4%;
}
.btn {
    margin-top: 1vh;
    width:20%;
    margin-bottom: .4rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #fbfbfb;
    transition: all .3s ease-in-out;
   }
   .btn:hover {
    background-color: #84e60c;
    color: #080808;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
    scale: 0.9;
   }
   .btn:active{
    color: #84e60c;
   }
   .form{
    display:flex;
    margin-top:1%;
   }
.instructions{
    margin-left:10%;
    width:30%;
    height:70%;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius:3% ;
    text-align: left;
    align-self: center;
    transition: 0.5s;
}
